@import './tools/_variables'
@import './tools/_normalize'

@import './partials/_scoreHeader'
@import './partials/_game'
@import './partials/_playAgainBtn'
@import './partials/_rulesButton'
@import './partials/_rulesModal'

.App
  font-family: $font
  height: 100vh

.container
  color: #fff
  background: $bgColor
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  padding: 2rem
  height: 100%
  box-sizing: border-box

// @media screen and (min-width: 80rem)
//   .container
//     height: auto

@media screen and (min-width: 85rem)
  .container
    height: auto