.game-container
  margin-top: 2rem
  height: 305px
  width: 315px

  .main-view
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    height: 100%
    position: relative

    &::before
      background-image: url('../../img/bg-pentagon.svg')
      background-position: center center
      background-repeat: no-repeat
      background-size: 100%
      content: ''
      width: 80%
      height: 100%
      position: absolute
  
  .btn
    width: 100px
    height: 100px
    border-radius: 50%
    box-shadow: inset 0 -5px rgba(0, 0, 0, 0.2)
    border: none
    cursor: pointer
    z-index: 4
    transition: all 300ms ease-in-out

    &:active
      transform: scale(0.9)

    .btn-inner
        width: 75px
        height: 75px
        background: #fff
        border-radius: 50%
        display: inline-flex
        justify-content: center
        align-items: center
        margin: auto
        box-shadow: inset 0 5px 1px rgba(0, 0, 0, 0.2)

        img
          width: 60%
    
  .scissors
    background: $scissorsColor

  .btn-scissors
    align-self: flex-start

  .paper
    background: $paperColor

  .btn-paper
    align-self: flex-end
    margin-top: 30px

  .spock
    background: $spockColor

  .btn-spock
    align-self: flex-end
    margin-top: 30px

  .rock
    background: $rockColor

  .btn-rock
    align-self: flex-end

  .lizard
    background: $lizardColor
  
  .btn-lizard
    align-self: flex-end
  
  .game-view
    display: none
    justify-content: space-around
    align-items: center
    flex-wrap: wrap
    margin-top: 3rem

    .user-choice,
    .computer-choice
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center  

      .btn
        width: 130px
        height: 130px

        .btn-inner
          width: 100px
          height: 100px

      p
        text-transform: uppercase
        font-weight: 700
        letter-spacing: 2px

    #computer-picked,
    #user-picked
      cursor: default
      transform: none

@media screen and (min-width: 48rem)
  .game-container
    width: 500px
    height: 490px

    .btn
      width: 130px
      height: 130px

      .btn-inner
        width: 100px
        height: 100px

    .game-view
      .user-choice,
      .computer-choice
        .btn
          width: 150px
          height: 150px

          .btn-inner
            width: 125px
            height: 125px

@media screen and (min-width: 85rem)
  .game-container
    width: 700px
    display: flex
    justify-content: center

    .main-view
      width: 470px
      height: 460px

      .btn
        width: 150px
        height: 150px

        .btn-inner
          width: 125px
          height: 125px

    .game-view
      .computer-choice
        order: 1
        
      .user-choice,
      .computer-choice
        .btn
          width: 200px
          height: 200px

          .btn-inner
            width: 170px
            height: 170px

        p
          font-size: 24px
          order: -1

      .result-wrapper
        margin: 0 1rem