.rules-btn
  width: 128px
  height: 40px
  color: #fff
  border: 1px solid #fff
  border-radius: 8px
  background: transparent
  cursor: pointer
  text-transform: uppercase
  font-size: 1rem
  letter-spacing: 2.5px
  transition: all 500ms ease-in-out
  margin-top: 130px
  
  &:hover
    background: #fff
    color: $darkText

@media screen and (min-width: 48rem)
  .rules-btn
    margin-top: 50px
    
@media screen and (min-width: 80rem)
  .rules-btn
    margin-top: 30px